<h1>Doctor: <%= @doctor.name %></h1><br>
<h2><%= @doctor.department %><br></h2>
<% @doctor.appointments.each do |appt| %>
  <%= appt.datetime %>
  <%= link_to @patient.name, patient_path(patient) %>
<% end %>