<h1>Doctor: <%= @doctor.name %></h1><br>
<h2><%= @doctor.department %><br></h2>
<div>
  <h4>Appointments:</h4>
<% @doctor.appointments.each do |appt| %>
   <p>Date/Time: <%= appt.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></p>
  <%= link_to @patient.name, patient_path(patient) %>
<% end %>